
.idea/$PROJECT_FILE$
.idea/vcs.xml
.idea/qaplug_profiles.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/compiler.xml
*.class
.idea/uiDesigner.xml
target/classes/app.properties
target/classes/TestFramework.xlsx
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/test-classes/testng.xml
target/classes/GetModal.css
target/classes/GetModal.js
target/classes/ModalPopup.html
.idea/runConfigurations.xml
target/maven-archiver/pom.properties
target/selenium-tutorial-1.0-SNAPSHOT.jar
target/surefire-reports/bullet_point.png
target/surefire-reports/collapseall.gif
target/surefire-reports/emailable-report.html
target/surefire-reports/failed.png
target/surefire-reports/index.html
target/surefire-reports/jquery.min.js
target/surefire-reports/navigator-bullet.png
target/surefire-reports/old/index.html
target/surefire-reports/old/Suite/ChromeTest.properties
target/surefire-reports/old/Suite/classes.html
target/surefire-reports/old/Suite/FirefoxTest.properties
target/surefire-reports/old/Suite/groups.html
target/surefire-reports/old/Suite/IETest.properties
target/surefire-reports/old/Suite/index.html
target/surefire-reports/old/Suite/main.html
target/surefire-reports/old/Suite/methods-alphabetical.html
target/surefire-reports/old/Suite/methods-not-run.html
target/surefire-reports/old/Suite/methods.html
target/surefire-reports/old/Suite/reporter-output.html
target/surefire-reports/old/Suite/testng.xml.html
target/surefire-reports/old/Suite/toc.html
target/surefire-reports/passed.png
target/surefire-reports/skipped.png
target/surefire-reports/Suite/ChromeTest.html
target/surefire-reports/Suite/ChromeTest.xml
target/surefire-reports/Suite/FirefoxTest.html
target/surefire-reports/Suite/FirefoxTest.xml
target/surefire-reports/Suite/IETest.html
target/surefire-reports/Suite/IETest.xml
target/surefire-reports/TEST-TestSuite.xml
target/surefire-reports/testng-reports.css
target/surefire-reports/testng-reports.js
target/surefire-reports/testng-reports1.css
target/surefire-reports/testng-reports2.js
target/surefire-reports/testng-results.xml
target/surefire-reports/testng.css
target/surefire-reports/TestSuite.txt
target/classes/config.properties
target/test-classes/TestFramework.xlsx
target/classes/log4j2.xml
target/site/css/maven-base.css
target/site/css/maven-theme.css
target/site/css/print.css
target/site/css/site.css
target/site/dependencies.html
target/site/dependency-info.html
target/site/images/close.gif
target/site/images/collapsed.gif
target/site/images/expanded.gif
target/site/images/external.png
target/site/images/icon_error_sml.gif
target/site/images/icon_info_sml.gif
target/site/images/icon_success_sml.gif
target/site/images/icon_warning_sml.gif
target/site/images/logos/build-by-maven-black.png
target/site/summary.html
target/site/project-info.html
target/site/plugins.html
target/site/plugin-management.html
target/site/index.html
target/site/images/newwindow.png
target/site/images/logos/maven-feather.png
target/site/images/logos/build-by-maven-white.png
