<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <test name="ChromeTest" enabled="true">
		<classes>
			<class name="demo.DriverScript">
				<parameter name="browserName" value="chrome"/>
			</class>
		</classes>
    </test>
    <test name="IETest" enabled="true">
        <classes>
            <class name="demo.DriverScript">
                <parameter name="browserName" value="ie"/>
            </class>
        </classes>
    </test>
    <test name="FirefoxTest" enabled="true">
        <classes>
            <class name="demo.DriverScript">
                <parameter name="browserName" value="firefox"/>
            </class>
        </classes>
    </test>

</suite> <!-- Suite -->
